<div class="ui center aligned container">
  <h2 class="ui icon header">
    <i class="settings icon"></i>
    <div class="content">
      Account Settings
      <div class="sub header">Manage your account settings and set e-mail preferences.</div>
    </div>
  </h2>
</div>
<div class="ui raised very padded text container segment">
  <h2 class="ui header">Sample header</h2>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus vitae repellendus repellat beatae sit molestiae tempora quod. Expedita unde perferendis at, delectus nihil recusandae facilis earum consequatur exercitationem corrupti ea?
  </p>
</div>
<div class="ui center aligned container">
  <div class="ui link cards">
    <div class="ui centered card">
      <div class="image">
        <img src="https://semantic-ui.com/images/avatar2/large/kristy.png">
      </div>
      <div class="content">
        <a class="header">Kristy</a>
        <div class="meta">
          <span class="date">Joined in 2013</span>
        </div>
        <div class="description">
          Kristy is an art director living in New York.
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="user icon"></i>
          22 Friends
        </a>
      </div>
    </div>
  </div>
</div>
